@{
	ViewData["Title"] = "Swarm Calculator";
}

<div class="masthead segment swarm">
	<div class="ui container">
		<div class="introduction">
			<h1 class="ui inverted header">
				<span class="library">
					Swarm Calculator
				</span>
				<span id="keybase-id" class="tagline">
					Calculator to get the best out of those x3 stickers
				</span>
				<div class="ui hidden divider"></div>
				<a href="https://foursquare.com/oauth2/authenticate?client_id=4B4RTLWCWHTOEYVOJ4HMGESFEIU3CQNCBARGZSV54DVYRXI0&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A5000%2Fswarmcalculator%2Fauthorize"
				   class="ui huge inverted download button">
					Authorize Swarm Account
				</a>
			</h1>
		</div>
	</div>
</div>

@section scripts {
	<script>
		
	</script>
}