body {
	background-color: #1b1c1d !important;
	> .pusher {
		display: block;
		min-height: 0px;
		flex-direction: initial;

		> .full.height {
			display: block;
			flex: none !important;
		}
	}
	&.index .masthead {
		&.segment.zoomed h1 {
			text-shadow: 0px 0px 4px rgba(0, 0, 0, 0);
			color: rgba(255, 255, 255, 1);
		}

		&.zoomed {
			&:after {
				opacity: 0;
			}
			
			background-color: #25282A;
		}
		
		position: relative;
		overflow: hidden;
		text-align: center;
		padding: 0em;
		color: rgba(255, 255, 255, 0.9);
		margin-bottom: 0px;
		border-bottom: none;
		background-color: #000000;
		background-position: 50% 50%;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);

		&:after {
			position: absolute;
			top: 0px;
			left: 0px;
			z-index: -1;
			width: 100%;
			height: 100%;
			content: '';
			background-size: cover;
			opacity: 0.45;
			background-image: url("/images/bg.jpg");
		}
		.container {
			height: 70vh;
			margin-left: auto !important;
			margin-right: auto !important;
			min-height: 600px;
			-webkit-box-align: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center;
		}
	}
	.masthead .container {
		padding: 15rem 0em;
	}
	&.index {
		.following.bar {
			&.undocked {
				background: white;
				padding: 1.5em 0;
				border-bottom: 1px solid #eeeeee;
				box-shadow: 0 0 8px 0 #1b1b1b;
			}

			.menu .item {
				display: block;
			}
		}
		&.pushed {
			.masthead, .following.bar {
				-webkit-transform: translate3d(0, 0, 0);
				-moz-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
		}
		> .pusher > .footer {
			padding-left: 0em;
			padding-top: 3em;
		}
		.light.following.bar {
			padding: 1em 0em;
			background-color: #FFFFFF;
			border-bottom: 1px solid #DDDDDD;
			box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
		}
		.vertical.segment {
			box-shadow: none;
		}
		.masthead {
			&.segment h1 {
				font-size: 3em;
				color: rgba(255, 255, 255, 1);
				line-height: 1.2;
				margin: 0px 0px 0px;
				padding-bottom: 0px;
				-moz-perspective: 500px;
				-webkit-perspective: 500px;
				perspective: 500px;
				text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
				-moz-transform-style: preserve-3d;
				-webkit-transform-style: preserve-3d;
				transform-style: preserve-3d;
				.tagline {
					font-size: 0.75em;
				}
				> .library {
					display: block;
					font-size: 1.75em;
					font-weight: bold;
					&::selection {
						background: transparent;
						color: white;
					}
				}
				b {
					display: inline-block;
					font-weight: 500;
				}
				.text {
					display: inline-block;
					font-weight: 300;
					margin-left: -0.4em;
				}
			}
			h2 {
				font-weight: normal;
				margin: 0px 0 16px 0px;
				font-size: 1.75em;
				border-bottom: none;
				line-height: 1;
			}
			p {
				font-size: 1.5em;
				margin: 1em 0em 1.5em;
				padding: 0px;
			}
		}
		.ui {
			&.header {
				font-weight: normal;
			}
			&.segment {
				background-color: white;
			}
		}
		.introduction {
			position: relative;
			clear: both;
			display: block;
			text-align: center;
			.buttons {
				margin-top: 3em;
			}
		}
		.fixed.launch.button {
			display: none;
			top: 100px;
		}
		.main.menu {
			top: 0px;
		}
		pre.console {
			height: 120px;
		}
	}
	.intro.segment h1 + p {
		font-size: 22px;
	}
	&.index {
		.following.bar {
			position: fixed;
			top: 0px;
			z-index: 900;
			left: 0%;
			padding: 2em 0em;
			width: 100%;
			box-shadow: 0px 0px 0px 0px transparent;
			border-bottom: 1px solid transparent;
			transition: padding 0.5s ease, background 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
			> .menu .item {
				transition: all 0.5s ease;
			}
		}
		&.pushed .following.bar {
			.menu .item {
				transition: none;
			}
			transition: none;
		}
	}
	&.index {
		.following .version.label {
			margin: 0.25em 0px 0px 1em;
		}
		.grid .row {
			margin: 2rem 0rem;
		}
	}
	.solid {
		background-color: #FFFFFF;
		padding: 10em 0px;
		border-radius: 0em;
		margin: 0em;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.solid {
		background-color: #FFFFFF;
		-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
		.column {
			color: #555555;
			p {
				b {
					color: rgba(0, 0, 0, 0.9);
				}
				color: rgba(0, 0, 0, 0.5);
			}
		}
	}
}

@media only screen and (max-width: 992px) {
	html {
		overflow-x: visible;
		-webkit-overflow-scrolling: auto;
	}
}

@media only screen and (max-width: 600px) {
	body {
		&.index {
			.solid {
				padding: 4em 0em;
			}
			.masthead.segment h1 .text {
				margin-left: 0em;
			}
			.following.bar, .masthead:before {
				display: none;
			}
			.following {
				&.bar .column {
					text-align: center;
				}
			}
		}
		.masthead .container {
			padding: 6rem 0rem;
		}
		&.index {
			.masthead.segment h1 {
				font-size: 2.25em;
			}
			.following .secondary.menu {
				display: none;
			}
		}
	}
}

@media only screen and (max-width: 650px) {
	body {
		&.index .fixed.launch.button {
			display: none;
		}
	}
}

@media only screen and (min-width: 650px) {
	body {
		&.index {
			.main.menu, .fixed.launch.button {
				display: none;
			}
		}
	}
}

@media only screen and (max-width: 810px) {
	body {
		&.index {
			.masthead.segment h1 > .library {
				font-size: 1.75em;
			}
			.container {
				margin-left: 0em;
				margin-right: 0em;
			}
		}
		.solid {
			padding: 6em 0em;
		}
		&.index {
			.masthead .container {
				margin-top: 50px;
			}
			.following.bar {
				span.additional.item {
					display: none;
					visibility: hidden !important;
				}
				.network.menu .view-ui {
					margin-right: 0.75em;
				}
			}
			.masthead .container {
				min-height: 350px;
				height: auto;
			}
		}
	}
}

@import "./SwarmCalculator/_index.scss";
